@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import './assets/fonts/line-icons/style.css';
@import './assets/css/reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
}

a {
  color: #555;
  font-weight: bold;
  font-size: 14px;
}

.btn-link-default {
  font-size: 14px;
  padding: 0;
  border: 0;
  background: none;
  outline: 0;
  &:focus {
    outline: 0;
  }
}

.title-header {
  color: #999;
}

.link-blue {
  color: #3897f0;
  font-weight: bold;
}

.link-white {
  color: #fff;
  font-weight: bold;
}

.large {
  font-size: 26px;
}

.img-container {
  overflow: hidden;
  background-color: #efefef;
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  animation: loading 1.4s ease infinite;
  position: relative;
  padding-bottom: 100%;
  cursor: pointer;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    .overlay {
      transform: scale(1) !important;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transform: scale(0) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes loading {
  0% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
